.primary {
  padding: 10px;
  color: green;
  border: 1px solid green;
  background: white;
  border-radius: 25px;
  font-size: 15px;
}

.secondary {
  padding: 10px;
  color: black;
  border: 1px solid black;
  background: white;
  border-radius: 25px;
  font-size: 15px;
}

.tertiary {
  padding: 10px;
  color: white;
  background: green;
  border: 1px solid green;
  font-size: 15px;
  border-radius: 25px;
}