.featured {
  padding: 20px 40px;
  width: 100%;
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.author-photo img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.featured .grid {
  display: grid;
  grid-template-columns: 1fr 2fr 3fr;
  gap: 10px;
}

.author-photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.featured .cards-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.featured .cards__date {
  font-size: 13px;
  font-weight: 200;
}
.featured .cards-img {
  height: 50px;
  width: 50px;
  margin: auto;
}

.featured h2 {
  margin-bottom: 10px;
}

.featured >h2 {
  margin-bottom: 30px;
}